.animetion {
  background-color: red;
}


.back_picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.first_start {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
 animation: invisibleSignalStart  2.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


.first_start::before {
  content : '';
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: #14001a;
  clip-path: inset( 0% 0% 0% 50%);
  animation: signalStartRignt 1.5s  cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;


}

.first_start::after {
  content : '';
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: #14001a;
  clip-path: inset( 0% 50% 0% 0%);
  animation: signalStartLeft 1.5s  cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.picture_1 {
  position: absolute;
  top: calc(50% - 50vmin);
  left: calc(50% - 50vmin);
  width: 100vmin;
  height: 100vmin;
      background-image: url("/picture/background/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9000;
  /*background-size: contain;*/
  animation: byeShutter1  1.6s 2.0s forwards;
}

.picture_1::before{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    background-image: url("/picture/background/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: shutterOpen1 1.3s 2.0s  forwards;
}

.picture_2 {
  position: absolute;
  top: calc(50% - 50vmin);
  left: calc(50% - 50vmin);
  width: 100vmin;
  height: 100vmin;
  background-image: url("/picture/background/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8000;
  animation: byeShutter2  1.6s 4.0s forwards;
}

.picture_2::before{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    background-image: url("/picture/background/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vmin;
    height: 100vmin;
    animation: shutterOpen2 1.3s 4.0s forwards;

}

.picture_3 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:7000;
}

@keyframes invisibleSignalStart{
  25% {
    opacity:1;
  }
  100% {
    opacity:0;
    /*display:none;*/
    z-index:9000;
  }
}

@keyframes signalStartRignt {
  65%,
  100% {
      clip-path: inset( 0% 0% 0% 100%);
  }
}
@keyframes signalStartLeft {
  65%,
  100% {
      clip-path: inset( 0% 100% 0% 0%);
  }
}






/*
.picture_4 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:9996;
}
.picture_5 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:9995;
}
.picture_6 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:9994;
}
.picture_7 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:9993;
}
.picture_8 {
  width: 100vw;
  height: 100vh;
  background-image: url("/picture/background/8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index:9992;
}
*/

/*
@keyframes byeShutter{
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
    display:none;
    z-index:9000;
  }
}
*/
@keyframes byeShutter1{
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
    /*display:none;*/
    z-index:8000;
  }
}

@keyframes byeShutter2{
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
    /*display:none;*/
    z-index:7000;
  }
}

@keyframes shutterOpen1 {
  0% {
    width: 100%;
    height: 100%;
  }
  80%,
  100% {
      width: 0%;
      height: 100%;
    }
}


@keyframes shutterOpen2{
  0% {
    width: 100%;
    height: 100%;
  }
  80%,
  100% {
      width: 100%;
      height: 0%;
    }
}


@keyframes contentScale {
  70% {
    transform: perspective(800px) scale(0.9) rotateX(15deg);
  }
  100% {
    transform: perspective(800px) scale(1) rotateX(0);
  }
}
